@font-face {
  font-family: "Arlon";
  font-display: swap;
  src: url("../fonts/Arlon.woff") format("woff"), url("../fonts/Arlon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  line-height: 1;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-family: "Arlon";
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.game-field {
  position: relative;
}

.game-field__winner-card {
  position: absolute;
  background: #a4b5b8;
  width: 200px;
  height: 100px;
  top: 41%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.game-field__winner-card.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.game-field__winner-card-text {
  color: #fff;
}

.game-field__winner-card-output img {
  height: 50px;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}

.count__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count__image {
  height: 25px;
  width: 25px;
  margin: 0 0 10px 0;
}

.count__image img {
  width: 100%;
}

.count__output-text_o {
  color: #39bcd4;
}

.count__output-text_x {
  color: #3989d4;
}

.count__output-text_draw {
  color: #a4b5b8;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin: 0 0 40px 0;
}

.board__item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.board__item img {
  height: 100%;
  position: relative;
  z-index: -1;
}

.top-left {
  border-bottom: 1px solid #a4b5b8;
}

.top-center {
  border: 1px solid #a4b5b8;
  border-top: none;
}

.top-right {
  border-bottom: 1px solid #a4b5b8;
}

.middle-left {
  border-bottom: 1px solid #a4b5b8;
}

.middle-center {
  border: 1px solid #a4b5b8;
  border-top: none;
}

.middle-right {
  border-bottom: 1px solid #a4b5b8;
}

.bottom-center {
  border-right: 1px solid #a4b5b8;
  border-left: 1px solid #a4b5b8;
}

.turn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100px;
  margin: 0 auto 20px;
  border: 1px solid #a4b5b8;
  border-radius: 50px;
}

.turn__image {
  height: 50px;
  width: 50px;
  position: relative;
}

.turn__image img {
  width: 100%;
  padding: 15px;
}

.turn__image_white-x {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.turn__image_white-x.is-turn {
  z-index: 1;
}

.turn__image_white-o {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.turn__image_white-o.is-turn {
  z-index: 1;
}

.turn__indicate {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  top: -1px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.turn__indicate.x-turn {
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  background: #3989d4;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.turn__indicate.o-turn {
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  background: #39bcd4;
  -webkit-transform: translate(95%, 0);
      -ms-transform: translate(95%, 0);
          transform: translate(95%, 0);
}

.controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controlls__buttons {
  background: #a4b5b8;
  border-radius: 50%;
  cursor: pointer;
}

.controlls__image {
  height: 50px;
  width: 50px;
}

.controlls__image img {
  width: 100%;
  padding: 15px;
}

@media (max-width: 420px) {
  .game-field {
    height: 100vh;
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 320px) {
  .board {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}
