//-----------------------------------------------------
//MIXINS
@import "mixins";
//MIXINS
//-----------------------------------------------------



//-----------------------------------------------------
//FONTS
@import "fonts";
//FONTS
//-----------------------------------------------------



//-----------------------------------------------------
//ICON-FONTS
@import "icons";
//ICON-FONTS
//-----------------------------------------------------



//-----------------------------------------------------
//VARIABLES
@import "variables";
//VARIABLES
//-----------------------------------------------------



//-----------------------------------------------------
//RESET
@import "reset";
//RESET
//-----------------------------------------------------


//-----------------------------------------------------
//GENERAL STYLES
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}
//GENERAL STYLES
//-----------------------------------------------------


//-----------------------------------------------------
//STYLES
@import "header";
@import "footer";
//STYLES
//-----------------------------------------------------


//-----------------------------------------------------
//MAIN BLOCK

//MAIN BLOCK
//-----------------------------------------------------