//-----------------------------------------------------
//MEDIA-QUERIES
//large dasktops & laptops
$md1: 1920px;
$md2: 1680px;
$md3: 1366px;
$md4: 1280px;

//landscape tablets, small desktops & laptops
$md5: 1024px;
$md6: 800px;

//portrait tablets & landscape phones
$md7: 768px;
$md8: 600px;
$md9: 533px;

//portrait phones and smaller
$md10: 480px;
$md11: 360px;
$md12: 320px;
$md10: 280px;
$md11: 240px;
$md12: 176px;
//MEDIA-QUERIES
//-----------------------------------------------------

//-----------------------------------------------------
//COLORS
$grey: #a4b5b8;
$blue: #3989d4;
$green: #39bcd4;
//COLORS
//-----------------------------------------------------